<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jamocha.apps.eclipse.jamochaeditor.JamochaEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="clp, clips, jamocha, jm"
            icon="files/jamocha.gif"
            id="jamochaeditor.JamochaEditor"
            name="JamochaEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Action set for Jamocha Menu Entry"
            id="jamochaeditor.MenuAcitonSet"
            label="Jamocha"
            visible="true">
         <menu
               id="jamochaeditor.JamochaMenu"
               label="Jamocha">
            <separator
                  name="jamochaeditor.aboutSeparator">
            </separator>
            <separator
                  name="jamochaeditor.proposalSeperator">
            </separator>
         </menu>
         <action
               class="org.jamocha.apps.eclipse.jamochaeditor.MenuActions"
               icon="files/jamocha.gif"
               id="jamochaeditor.aboutAction"
               label="About JamochaEditor"
               menubarPath="jamochaeditor.JamochaMenu/aboutSeparator"
               tooltip="About information">
         </action>
         <action
               class="org.jamocha.apps.eclipse.jamochaeditor.AutocompletionPreferences"
               icon="files/jamocha.gif"
               id="JamochaEditorforSVN.autocompletion"
               label="Function autocompletion"
               menubarPath="jamochaeditor.JamochaMenu/proposalSeparator"
               pulldown="true"
               state="true"
               style="toggle">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jamocha.apps.eclipse.jamochaeditor.JamochaPreferencePage"
            id="jamochaeditor.Preferences"
            name="Jamocha Preferences">
      </page>
   </extension>

</plugin>
